@import '../../styles/utilities/mixins';
@import '../../styles/utilities/variables';

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #dce3e5cc;
  border-radius: 8px;
  box-shadow: 0px 4px 57px 0px rgba(17, 17, 17, 0.05);
  z-index: 1000;
  width: 100%;
  max-width: 541px;

  padding: 40px;

  border-radius: 24px;

  display: flex;
  flex-direction: column;

  &__close__btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0;

    &__icon {
      width: 24px;
      height: 24px;
      stroke: black;
      transition: color 0.3s ease-in-out;
      &:hover {
        stroke: #84828a;
      }
    }
  }

  &__photo {
    width: 461px;
    height: 268px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;

    &__img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__review {
    color: $secondary-font-color;

    &__name {
      display: flex;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      margin-top: 14px;
      margin-bottom: 8px;

      &__model {
        color: $accent-color;
      }
    }
    &__price {
      margin-top: 0;
      margin-left: auto;
    }
  }
  &__overview {
    display: flex;
    max-width: 350px;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 8px;

    &__items {
      display: inline;
      border-right: 1px solid $stroke-color-overview;
      padding: 0 6px;
      margin-left: -6px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      &:not(:first-of-type) span {
        margin-left: 0;
      }
    }
  }
  &__favorite__btn {
    position: absolute;
    top: 14px;
    right: 0;
    padding: 0;
  }

  &__description {
    font-size: 14px;
    color: $secondary-font-color;
    line-height: 1.42;
    margin-top: 14px;
    margin-bottom: 0;
  }
  &__accessories__title {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 0;
    line-height: 1.42;
    font-weight: 500;
    color: $secondary-font-color;
  }
  &__accessories {
    display: flex;

    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    margin-top: 8px;
    &__items {
      display: inline;
      border-right: 1px solid $stroke-color-overview;
      padding: 0 6px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -6px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      &:not(:first-of-type) span {
        margin-left: 0;
      }
    }
  }

  &__conditions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &__item {
      display: flex;
      margin-top: 8px;
      padding: 7px 14px;

      justify-content: center;
      align-items: center;
      border-radius: 35px;
      background: $conditions-bg-color;

      color: $conditions-font-color;

      &__span {
        color: $accent-color;
        font-weight: 600;
      }
    }
  }

  &__rental__btn {
    max-width: 180px;
    padding: 12px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: $accent-color;
    border: none;
    margin-top: 24px;

    text-decoration: none;

    color: $background-primary;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.42857;
    cursor: pointer;

    transition: background-color 250ms linear, transform 250ms linear;

    &:hover {
      background-color: $hover-color;
    }
  }
}
